*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
}
.center{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0;
}
.right{
   margin: 0;  
}
.loginbtn{
   height: 35px;
   width: 50%;
   border: none;
   margin: 8px auto 8px auto;
   border-radius: 10px;
   color: white;
   background-color: green;
   font-size: 1.3em;
}
.loginuser, .loginuser:focus, .loginuser:hover{
   text-decoration: none;
}

@media screen and (max-width: 768px){
   .right{
      margin: 50px 0 50px 0;
   }
   .center{
      padding: 0 !important;
   }
}