*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
}
.center{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0;
}
.right{
   margin: 0;
   margin-top: 30px; 
}
.fname, .lname, .frm, input[type="date"], .branch{
   border-radius: 10px;
   border: 1px solid #968d8d;
   margin: 5px;
   padding-left: 10px;
   height: 35px;
}
.fname, .lname{
   width: 43%;
}
.frm{
   width: 88%;
}
.one, .two, .three{
   display: inline-block;
   margin: 5px 0 5px 0;
}
.one, .two{
   margin-right: 25px;
}
.gender{
   padding: 5px;
}
input[type="date"]{
   width: 75%;
   border-radius: 10px;
}
.branch{
   width: 85%;
}
.signupbtn{
   height: 35px;
   width: 50%;
   border: none;
   margin: 8px auto 8px auto;
   border-radius: 10px;
   color: white;
   background-color: green;
   font-size: 1.3em;
}
.loginuser, .loginuser:focus, .loginuser:hover{
   text-decoration: none;
}

@media screen and (max-width: 768px){
   /* .right{
      margin: 50px 0 50px 0;
   } */
   .center{
      padding: 0 !important;
   }
}